@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}
body {
  min-height: 100vh;
  color: rgba(235, 235, 235, 0.64);
  background: #181818;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Hind', sans-serif;
}
p,
span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
h1,
h2 {
  font-weight: 700;
}
h3,
h4 {
  font-weight: 600;
}
h5,
h6 {
  font-weight: 500;
}

/* Utility Classes */

.poppins {
  font-family: 'Poppins', sans-serif;
}
.we-7 {
  font-weight: 700;
}
.we-6 {
  font-weight: 600;
}
.we-5 {
  font-weight: 500;
}
.we-4 {
  font-weight: 400;
}

/* Animations */
.enter-up {
  animation: enter-up 2s;
}
.enter-down {
  animation: enter-down 2s;
}
.enter-right {
  animation: enter-right 2s;
}
.enter-left {
  animation: enter-left 2s;
}
.divider-vertical {
  animation: divider-vertical 2s;
}
.pop-out {
  animation: pop-out 1.5s ease-in-out;
}
.pop-out-divider {
  animation: pop-out-divider 2s;
}
@keyframes divider-vertical {
  0% {
    margin: 200px 200px;
  }
  100% {
    margin: 0px 0px;
  }
}
@keyframes enter-up {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes enter-down {
  0% {
    transform: translateY(-250px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes enter-right {
  0% {
    transform: translateX(-250px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes enter-left {
  0% {
    transform: translateX(250px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes pop-out {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pop-out-divider {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
